OAUTH_TOKEN_URL="https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials"
LIPA_NA_MPESA_URL="https://sandbox.safaricom.co.ke/mpesa/stkpush/v1/processrequest"
CONSUMER_KEY=""
CONSUMER_SECRET=""
LIPA_NA_MPESA_CALLBACK_URL=""
PASS_KEY=""
SHORT_CODE=